:root{
  --red: #f54e4e;
  --green: #4aec8c;
}

body{
  background-color: #30384b;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
 
}

@media (min-width: 40em) {
  main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    gap: 10%;

  }
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button.with-text {
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px, 20px;
  font-size: 1.4rem;
  line-height: 36px;
}

button.with-text svg{
  width: 36px;
  float: left;
  margin-right: 5px;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.TodoWrapper {
  background-color: #1A1A40;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 2rem;
  border-radius: 5px;


  
}

.Todoform {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder{
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  padding: 0.75rem 1rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash{
  margin-left: 0.75rem;
}

.completed{
  color:#c5aeff;
  text-decoration: line-through;
}



@media (min-width: 40em){


  .Timer {
    margin-left: 10px;
    margin-top: 13%;
    
  }

  button.with-text#back{
    height: 40px;
  }


}




@media (max-width:39.9375em) {


  .Timer{
    width: 80%;
    margin-left: 35px;
  }

  label{
    position: relative;
    left:2%;
  }
}

