.slider{
    height: 40px;
    border: 2px solid var(--red);
    border-radius: 20px;
    width: 250%;

    @media (max-width:39.9375em) {
        width: 80%;
        margin-left: 20px;
    }
}

.thumb{
    background-color: var(--red);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    cursor: pointer;
}



.slider.green{
    border: 2px solid var(--green);
    
    text-align: center
}

.slider.green .thumb{
    background-color: var(--green);
    
}


@media (min-width: 40em) {
    .slider {
        height: 25px;
    }

    .thumb {
        height: 25px;
        width: 25px;
    }
}